<html>
    <head>
            
    </head>
    <body>
    
        <canvas id="whiteboard"></canvas>
        <div>
            <button id="pen">Draw Line</button>
            <button id="pen_small" data-thickness="1">Pen S </button>
            <button id="pen_medium" data-thickness="2">Pen M </button>
            <button id="pen_large" data-thickness="3">Pen L </button>
        </div>
        <br>        
        <br>
        <div >
                <button id="color_blue">Set blue </button>
                <button id="color_red">Set red </button>
                <button id="color_orange">Set orange </button>
        </div>
        <br>
        <br>
        
        <div >
            <button id="eraser">Draw erase</button>
            <button id="eraser_small">Erase S </button>
            <button id="eraser_large">Erase L </button>
            <button id="clear">Clear </button>
        </div>
        <br>
        <br>
        <div >
            <button id="text">Text</button>
            <button id="text_small">Text S </button>
            <button id="text_medium">Text M </button>
            <button id="text_large">Text L </button>
        </div>
        <br>
        <br>
        
        <script src="socket.io/socket.io.js"></script>
        <script src="./lib/whiteboard.js"></script>
        <script src="./controller/whiteboard_controller.js"></script>
        
            
        <script>
 
            

        </script>
    </body>
</html>